* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, Inter, sans-serif;
}

body {
  margin: 0;
}

#root {
}

.pokemon-card-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	gap: 1em;
}

.pokemon-card {
	width: 120px;
	border: 1px solid #ddd;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokemon-card-sprite {
	width: 95px;
}
